.button {
  width: 215px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #73fdaa;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  height: 53px;
  text-align: center;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer !important;
  
}

@media only screen and (max-width: 480px) {
  .button {
    cursor: pointer !important;
    margin-left: auto;
    margin-right: auto;
  }
}
