.rectangle {
  background: linear-gradient(
    270deg,
    rgba(115, 253, 170, 0.89) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  border-radius: 10px;
  border: 1px solid none;
  width: 27rem;
  height: 5rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  h5 {
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    margin-left: 7rem;
  }
  p {
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: black;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    margin-left: 10rem;
  }
}
@media only screen and (max-width: 480px) {
  .rectangle {
    width: 20rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    h5 {
      font-size: 20px;
      margin-left: 3rem;
    }
    p {
      font-size: 13px;
      color: black;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      margin-left: 3rem;
    }
  }
}

@media (min-width: 481px) and (max-width: 900px) {
  .rectangle {
    width: 30rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    h5 {
      font-size: 20px;
      margin-left: 3rem;
    }
    p {
      font-size: 13px;
      color: black;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      margin-left: 3rem;
    }
  }
}